EMD/EDP20Core/EDP20Core/Service References/ServiceReferenceProcessEngine/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://gis-dev-processengine.kapsch.co.at/Webservice/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" />
  <xs:import schemaLocation="http://gis-dev-processengine.kapsch.co.at/Webservice/Service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetProcessInstanceCountFromWorkflowID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWorkflow" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessInstanceCountFromWorkflowIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProcessInstanceCountFromWorkflowIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="GetActivityItemsResult" nillable="true" type="q1:ArrayOfActivityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="GetWorkflowItemsResult" nillable="true" type="q2:ArrayOfWorkflowItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWorkflow" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="GetWorkflowItemResult" nillable="true" type="q3:WorkflowItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkflowMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWorkflow" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="validFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="validTo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkflowMetaDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkflowXmlDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWorkflow" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkflowXmlDefinitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="validFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="validTo" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="CreateWorkflowResult" nillable="true" type="q4:WorkflowItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWorkflow" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckoutWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="CheckoutWorkflowResult" nillable="true" type="q5:WorkflowItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckinWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWorkflow" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckinWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="CheckinWorkflowResult" nillable="true" type="q6:WorkflowItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWorkflow" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="UndoCheckoutResult" nillable="true" type="q7:WorkflowItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWorkflow" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deleteAllVersions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkflowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowXmlWithNewActivityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idActivity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowXmlWithNewActivityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkflowXmlWithNewActivityIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowXmlWithNewSubworkflowActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activityID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subworkflowDefinitionID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subworkflowVariables" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowXmlWithNewSubworkflowActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkflowXmlWithNewSubworkflowActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPackageUsedInActiveWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obcoGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPackageUsedInActiveWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPackageUsedInActiveWorkflowResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WakeupWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowInstanceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WakeupWorkflowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowInstances">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="GetWorkflowInstancesResult" nillable="true" type="q8:ArrayOfWorkflowInstanceItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkflowInstanceItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWorkflowInstance" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instanceXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveWorkflowInstanceItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowInstanceItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowInstanceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowInstanceItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="GetWorkflowInstanceItemResult" nillable="true" type="q9:WorkflowInstanceItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataHelperName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowDefinitionID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataHelperNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataHelperNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkflowInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="workflowMessageDataItem" nillable="true" type="q10:WorkflowMessageDataItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkflowInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="CreateWorkflowInstanceResult" nillable="true" type="q11:WorkflowInstanceItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmailDocumentTemplates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmailDocumentTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="GetAllEmailDocumentTemplatesResult" nillable="true" type="q12:ArrayOfKeyValuePairItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="woins" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="GetStatusListResult" nillable="true" type="q14:ArrayOfWorkflowInstanceStatusItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkflowInstanceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="worfklowInstanceStatus" nillable="true" type="q15:WorkflowInstanceStatusItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkflowInstanceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="SetWorkflowInstanceStatusResult" nillable="true" type="q16:WorkflowInstanceStatusItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowInstanceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientReferenceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="callbackResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="callBackStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoCallbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityResultMessagesForWorkflowInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowInstanceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityResultMessagesForWorkflowInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Kapsch.IS.ProcessEngine.Webservice.Entities" minOccurs="0" name="GetActivityResultMessagesForWorkflowInstanceResult" nillable="true" type="q17:ArrayOfActivityResultMessageItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>