ProcessEngine/ProcessEngine/WFActivity/Service References/AuditLog.WebService/IAuditLogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateSession">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CreateSessionResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="level" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="application" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="userid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="data" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="session" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteEntryResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="FinalizeSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="session" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizeSessionResponse">
    <xs:complexType />
  </xs:element>
</xs:schema>