EMD/EDPWfActivities/EDPWfActivities/Service References/ITAutomationWebService/ServiceITAutomation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceITAutomation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://s900b112.kapsch.co.at:7791/ServiceITAutomation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://s900b112.kapsch.co.at:7791/ServiceITAutomation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://s900b112.kapsch.co.at:7791/ServiceITAutomation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kapsch.IS.ITAutomation.Webservice.Entities" />
      <xsd:import schemaLocation="http://s900b112.kapsch.co.at:7791/ServiceITAutomation.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Kapsch.IS.ITAutomation.Webservice.Entities.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceITAutomation_CreateScriptRun_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateScriptRun" />
  </wsdl:message>
  <wsdl:message name="IServiceITAutomation_CreateScriptRun_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateScriptRunResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceITAutomation_AddScriptData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddScriptData" />
  </wsdl:message>
  <wsdl:message name="IServiceITAutomation_AddScriptData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddScriptDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceITAutomation_QueueScript_InputMessage">
    <wsdl:part name="parameters" element="tns:QueueScript" />
  </wsdl:message>
  <wsdl:message name="IServiceITAutomation_QueueScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueueScriptResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceITAutomation_GetScriptRunStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScriptRunStatus" />
  </wsdl:message>
  <wsdl:message name="IServiceITAutomation_GetScriptRunStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScriptRunStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceITAutomation_TestService_InputMessage">
    <wsdl:part name="parameters" element="tns:TestService" />
  </wsdl:message>
  <wsdl:message name="IServiceITAutomation_TestService_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceITAutomation">
    <wsdl:operation name="CreateScriptRun">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceITAutomation/CreateScriptRun" message="tns:IServiceITAutomation_CreateScriptRun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceITAutomation/CreateScriptRunResponse" message="tns:IServiceITAutomation_CreateScriptRun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddScriptData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceITAutomation/AddScriptData" message="tns:IServiceITAutomation_AddScriptData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceITAutomation/AddScriptDataResponse" message="tns:IServiceITAutomation_AddScriptData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueueScript">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceITAutomation/QueueScript" message="tns:IServiceITAutomation_QueueScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceITAutomation/QueueScriptResponse" message="tns:IServiceITAutomation_QueueScript_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScriptRunStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceITAutomation/GetScriptRunStatus" message="tns:IServiceITAutomation_GetScriptRunStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceITAutomation/GetScriptRunStatusResponse" message="tns:IServiceITAutomation_GetScriptRunStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestService">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceITAutomation/TestService" message="tns:IServiceITAutomation_TestService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceITAutomation/TestServiceResponse" message="tns:IServiceITAutomation_TestService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpEndpoint" type="tns:IServiceITAutomation">
    <wsp:PolicyReference URI="#BasicHttpEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateScriptRun">
      <soap:operation soapAction="http://tempuri.org/IServiceITAutomation/CreateScriptRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddScriptData">
      <soap:operation soapAction="http://tempuri.org/IServiceITAutomation/AddScriptData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueueScript">
      <soap:operation soapAction="http://tempuri.org/IServiceITAutomation/QueueScript" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScriptRunStatus">
      <soap:operation soapAction="http://tempuri.org/IServiceITAutomation/GetScriptRunStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestService">
      <soap:operation soapAction="http://tempuri.org/IServiceITAutomation/TestService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceITAutomation">
    <wsdl:port name="BasicHttpEndpoint" binding="tns:BasicHttpEndpoint">
      <soap:address location="http://s900b112.kapsch.co.at:7791/ServiceITAutomation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>