ProcessEngine/ProcessEngine/ProcessEngine/Service References/AuditLog.WebService/AuditLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuditLogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://s900b112:7000/AuditLogWS_DEV/IAuditLogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuditLogService_CreateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSession" />
  </wsdl:message>
  <wsdl:message name="IAuditLogService_CreateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuditLogService_WriteEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteEntry" />
  </wsdl:message>
  <wsdl:message name="IAuditLogService_WriteEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IAuditLogService_FinalizeSession_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalizeSession" />
  </wsdl:message>
  <wsdl:message name="IAuditLogService_FinalizeSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizeSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuditLogService">
    <wsdl:operation name="CreateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditLogService/CreateSession" message="tns:IAuditLogService_CreateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditLogService/CreateSessionResponse" message="tns:IAuditLogService_CreateSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditLogService/WriteEntry" message="tns:IAuditLogService_WriteEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditLogService/WriteEntryResponse" message="tns:IAuditLogService_WriteEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalizeSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuditLogService/FinalizeSession" message="tns:IAuditLogService_FinalizeSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuditLogService/FinalizeSessionResponse" message="tns:IAuditLogService_FinalizeSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuditLogService" type="tns:IAuditLogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSession">
      <soap:operation soapAction="http://tempuri.org/IAuditLogService/CreateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteEntry">
      <soap:operation soapAction="http://tempuri.org/IAuditLogService/WriteEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizeSession">
      <soap:operation soapAction="http://tempuri.org/IAuditLogService/FinalizeSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditLogService">
    <wsdl:port name="BasicHttpBinding_IAuditLogService" binding="tns:BasicHttpBinding_IAuditLogService">
      <soap:address location="http://s900b112:7000/AuditLogWS_DEV/IAuditLogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>